.A{
  margin-left: 100px
  }

.B{
  width: 200px; height: 50px;
  border: 6px solid green;
  border-top-style: double; 
  border-bottom-style: dotted;
  margin-left: 50px;
  background: lightgreen;
  }

.C{
  width: 150px; height: 200px;
  border: 6px solid green;
  border-top-style: none; 
  margin-left: 75px;
  background: lightgreen
}